  <div class="nav-container">
    <div class="top-bar-right">
        {{#zf-magellan data-animation-duration="1000" data-deep-linking=false
          data-animation-easing="swing" class="vertical menu align-right"}}
        <li><a href="#first">MPG</a></li>
        <li><a href="#second">Displacement</a></li>
        <li><a href="#third">Explore</a></li>
        {{/zf-magellan}}
    </div>
  </div>

  <section id="first" data-magellan-target="first">
    <br><br>
    <div class="row">
      <div class="small-10 columns">
          <h5>Top Auto Maker's Average Combined MPG by Year</h5>
          {{line-chart chartId="combined-mpg" data=data rollup="comb08" annotation="honda"}}
      </div>
      <div class="small-2 columns">

        <h6>Fuel Economy of major Car Brands in America</h6>
        <a data-open="essayModal" class="button">Click here to for essay</a>
        <p>
          In the chart on the left we can see that of the major manufacturers
          sold in the U.S. Japanese manufacturers tend to perform better than U.S.
          manufacturers.  As we will see in the next slide there is another measure
          that strongly correlates with fuel economy...
        </p>

        {{#zf-reveal id="essayModal"}}
          <h4>Final Project Essay</h4>
          <p>
            The following visual narrative does not have any particularly
            interesting conclusions, but I hope it serves as a good example of a
            martini glass hybrid structure.
          </p>
          <p>
            Following the martini glass structure, the user is presented with a
            couple of static scenes that simply set the story for the user to
            explore more in the final scene.
          </p>
          <p>
            The first 2 scenes setup the story by showing an explanation the two
            parameters the user will be able to change with triggers later on.
            There are also some annotations to highlight what the captions for each
            scene are trying to convey. A "Next" button is provided at the end
            of the caption to move the user to the next scene.  A small
            navigation menu is tied to the right side to help orient the user as
            to where they are in the narrative.
          </p>
          <p>
            An annotation is added on the first scene to help explain and
            already large gap in fuel efficiency from Honda.  On the next scene
            the axes are different so the first annotation is cleared and a new
            annotation is used to help tie the point being made in this caption
            to the previous scene.  All annotations are cleared for the final
            scene where the user can explore on their own.
          </p>
          <p>
            In the final exploration scene the user can trigger parameter
            changes using the select menus to chose the manufacturer and
            optionally the make they want
            to compare displacement and fuel economy for.  The title of the
            chart is updated as the user makes a selection, as well as the update
            to the chart, to help provide feedback to the user as they change
            parameters.
          </p>
          <p>
            A brief caption is also provided in the final scene to explain which
            triggers and parameters are available to the user.  Hopefully the
            design is obvious but it doesn't hurt to provide extra guidance when
            it doesn't clutter the scene.
          </p>

          <p>
            Thank you for reviewing my project!
          </p>

          <br>
          <p>
            <i>
              In light of the comments on Piazza regarding using D3 library
              wrappers, I wanted to clarify that I did create these charts using raw D3.
              I did use the Javascript framework Ember to help structure the project and
              manage dependencies and builds, but all D3 code was written from
              scratch.  You can view all of the messy raw D3 code I used for the charts on the
              GitHub repo if you have any questions <a
                href="https://github.com/wolodarsky/d3-narration/blob/master/app/components/line-chart.js">here</a>.
            </i>
          </p>

          <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        {{/zf-reveal}}

        <p>
          {{#zf-magellan data-animation-duration="1000" data-deep-linking=false
            data-animation-easing="swing"}}
              <a class="button" href="#second">Next</a>
          {{/zf-magellan}}
        </p>


      </div>
    </div>

  </section>

  <section id="second" data-magellan-target="second">
    <br><br>
    <div class="row">
      <div class="small-10 columns">
        <h4>Top Auto Maker's Average Engine Displacement by Year</h4>
        {{line-chart chartId="displacement" data=data rollup="displ" annotation="dodge"}}
      </div>
      <div class="small-2 columns">
        <h6>Displacement Tells Another Part of the Story</h6>
        <p>
          In the chart on the left we see in general Japanese manufacturers tend to
          have smaller displacement engines across their lines as well.  As the
          annotation highlights, where we see an increase in displacement Dodge
          we can also see a dip in fuel economy in the previous
          chart for the same years. You
          can explore further in the next scene...
        </p>
        <p>
          {{#zf-magellan data-animation-duration="1000" data-deep-linking=false
            data-animation-easing="swing"}}
            <a class="button" href="#third">Next</a>
          {{/zf-magellan}}
        </p>
      </div>
    </div>
  </section>

  <section id="third" data-magellan-target="third">
    <br><br>
    <div class="row">
      <div class="small-10 columns">
        <h4>MPG v Displacement for {{currentTarget}}</h4>
        {{line-chart chartId="combined-Toyota" data=data rollup="comb08"
         filter=make secondRollup="displ" modelFilter=carModel}}
      </div>
      <div class="small-2 columns">
        <h6>Compare MPG and Displacement by Make and Model</h6>

        <label>Manufacturer
          <select onchange={{action "updateMake"}}>
            {{#each makeOptions as |make|}}
              <option value="{{make}}">{{make}}</option>
            {{/each}}
          </select>
        </label>

        <label>Model
          <select onchange={{action "updateModel"}}>
            <option value="_none_">None</option>
            {{#each modelOptions as |make|}}
              <option value="{{make}}">{{make}}</option>
            {{/each}}
          </select>
        </label>


        <p>
          Above you can choose a manufacturer of car and then further refine by model if
          desired to view the correlation between displacement and MPG.
        </p>

      </div>
    </div>
  </section>

{{outlet}}
