  <div class="nav-container">
    <div class="top-bar-right">
        {{#zf-magellan data-animation-duration="1000" data-deep-linking=false
          data-animation-easing="swing" class="vertical menu align-right"}}
        <li><a href="#first">Average MPG</a></li>
        <li><a href="#second">Average Displacement</a></li>
        <li><a href="#third">Explore</a></li>
        {{/zf-magellan}}
    </div>
  </div>

  <section id="first" data-magellan-target="first">
    <div class="row">
      <div class="small-10 columns">
          <h4>Top Auto Maker's Average Combined MPG by Year</h4>
          {{line-chart chartId="combined-mpg" data=data rollup="comb08"
          annotation="honda"}}
      </div>
      <div class="small-2 columns">
        <p>6 columns</p>
        <p>
          {{#zf-magellan data-animation-duration="1000" data-deep-linking=false
            data-animation-easing="swing"}}
            <li><a href="#second">Next</a></li>
          {{/zf-magellan}}
        </p>

      </div>
    </div>

  </section>

  <section id="second" data-magellan-target="second">
    <div class="row">
      <div class="small-10 columns">
        <h4>Top Auto Maker's Average Engine Displacement by Year</h4>
        {{line-chart chartId="displacement" data=data rollup="displ" annotation="dodge"}}
      </div>
      <div class="small-2 columns">
        <p>6 columns</p>
        <p>
          {{#zf-magellan data-animation-duration="1000" data-deep-linking=false
            data-animation-easing="swing"}}
            <li><a href="#third">Next</a></li>
          {{/zf-magellan}}
        </p>
      </div>
    </div>
  </section>

  <section id="third" data-magellan-target="third">
    <div class="row">
      <div class="small-10 columns">
        <h4>MPG v Displacement for {{make}}</h4>
        {{line-chart chartId="combined-Toyota" data=data rollup="comb08"
         filter=make secondRollup="displ"}}
      </div>
      <div class="small-2 columns">
        <p>6 columns</p>
        <p></p>

        <label>Make
          <select onchange={{action "updateMake"}}>
            {{#each makeOptions as |make|}}
              <option value="{{make}}">{{make}}</option>
            {{/each}}
          </select>
        </label>

      </div>
    </div>
  </section>

{{outlet}}
